.row.maxWidth
    .col-xs-12.border-bottom
        p.text-center.betScores
            spans.score.oldBetScore
                | #{firstBetValue01}
                span.split= splitBetvalue
                | #{firstBetValue02}
            span.score.newBetScore
                | #{secondaBetValue01}
                span.split= splitBetvalue
                | #{secondaBetValue02}
