.row.maxWidth
    .col-xs-12.border-bottom
        p.text-center.betScores
            spans.score.oldBetScore
                span.time #{firstBetTime}
                | #{firstBetValue01}
                span.split= splitBetvalue
                | #{firstBetValue02}
            //- br.visible-xs-block
            span.score.newBetScore
                span.time #{secondBetTime}
                | #{secondaBetValue01}
                span.split= splitBetvalue
                | #{secondaBetValue02}
