picture
    source(srcset="#{pathToAssets}assets/images/bg_1440.jpg" media="(min-width: 1440px)")
    source(srcset="#{pathToAssets}assets/images/bg_1024.jpg" media="(min-width: 1024px)")
    source(srcset="#{pathToAssets}assets/images/bg_768.jpg" media="(min-width: 768px)")
    source(srcset="#{pathToAssets}assets/images/bg_425.jpg" media="(min-width: 425px)")
    source(srcset="#{pathToAssets}assets/images/bg_375.jpg" media="(min-width: 375px)")
    source(srcset="#{pathToAssets}assets/images/bg_375.jpg" media="(min-width: 300px)")
    img.heroImage.img-responsive(srcset="#{pathToAssets}assets/images/bg_1024.jpg" alt="#{titlePage}")
