.row.steps
    .col-sm-12.col-md-3
        .step
            .number 1
            h5= step01
            //p= step01Sescription
            p
                | Create your account with bonuscode 
                strong UCL10
    .col-sm-12.col-md-5
        .step
            .number 2
            h5= step02
            p= step02Sescription
    .col-sm-12.col-md-4
        .step
            .number 3
            h5= step03
            p= step03Sescription
